# =========================
# Azure SQL / Operational DB
# =========================
OPERATIONAL_DB_URL=mssql+pyodbc://USERNAME:PASSWORD@YOUR_SERVER.database.windows.net/YOUR_DB?driver=ODBC+Driver+18+for+SQL+Server&Encrypt=yes&TrustServerCertificate=no

# =========================
# Azure Synapse / Warehouse DB
# =========================
WAREHOUSE_DB_URL=mssql+pyodbc://USERNAME:PASSWORD@YOUR_SYNAPSE.sql.azuresynapse.net/YOUR_WAREHOUSE_DB?driver=ODBC+Driver+18+for+SQL+Server&Encrypt=yes&TrustServerCertificate=no